{% extends 'base.html' %} {% block content %}
<div class="container my-3">
  <!-- flash 오류 -->
  {% for message in get_flashed_messages() %}
  <div class="alert alert-danger" role="alert">{{ message }}</div>
  {% endfor %}
  <!-- 게시글 -->
  <h2 class="border-bottom py-2">{{ post.subject }}</h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text">{{ post.content|markdown }}</div>
      <div class="card-text">가격: {{ post.price }}원</div>
      <div class="d-flex justify-content-end">
        {% if post.modify_date %}
        <div class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">modified at</div>
          <div>{{ post.modify_date|datetime }}</div>
        </div>
        {% endif %}
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">{{ post.user.username }}</div>
          <div>{{ post.create_date|datetime }}</div>
        </div>
      </div>
      <div class="my-3">
        <a
          href="javascript:void(0)"
          data-uri="{{ url_for('post.like', post_id=post.id) }}"
          class="like btn btn-sm btn-outline-secondary"
        >
          좋아요
          <span class="badge rounded-pill bg-success"
            >{{ post.liker|length }}</span
          >
        </a>

        {% if g.user == post.user %}
        <a
          href="{{ url_for('post.modify', post_id=post.id) }}"
          class="btn btn-sm btn-outline-secondary"
          >수정</a
        >
        <a
          href="javascript:void(0)"
          class="delete btn btn-sm btn-outline-secondary"
          data-uri="{{ url_for('post.delete', post_id=post.id) }}"
          >삭제</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  <!-- 댓글 목록 -->
  <h5 class="border-bottom my-3 py-2">
    {{ post.comment_set|length }}개의 댓글이 있습니다.
  </h5>
  {% for comment in post.comment_set %}
  <a id="comment_{{ comment.id }}"></a>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text">{{ comment.content|markdown }}</div>
      <div class="d-flex justify-content-end">
        {% if comment.modify_date %}
        <div class="badge bg-light text-dark p-2 text-start mx-3">
          <div class="mb-2">modified at</div>
          <div>{{ comment.modify_date|datetime }}</div>
        </div>
        {% endif %}
        <div class="badge bg-light text-dark p-2 text-start">
          <div class="mb-2">{{ comment.user.username }}</div>
          <div>{{ comment.create_date|datetime }}</div>
        </div>
      </div>
      <div class="my-3">
        <a
          href="javascript:void(0)"
          data-uri="{{ url_for('comment.like', comment_id=comment.id) }}"
          class="like btn btn-sm btn-outline-secondary"
        >
          추천
          <span class="badge rounded-pill bg-success"
            >{{ comment.liker|length }}</span
          >
        </a>

        {% if g.user == comment.user %}
        <a
          href="{{ url_for('comment.modify', comment_id=comment.id) }}"
          class="btn btn-sm btn-outline-secondary"
          >수정</a
        >
        <a
          href="#"
          class="delete btn btn-sm btn-outline-secondary"
          data-uri="{{ url_for('comment.delete', comment_id=comment.id) }}"
          >삭제</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- 댓글 등록 -->
  <form
    action="{{ url_for('comment.create', post_id=post.id) }}"
    method="post"
    class="my-3"
  >
    {{ form.csrf_token }}
    <!-- 오류 표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% for field, errors in form.errors.items() %}
      <strong>{{ form[field].label }}</strong>
      <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    {% endif %}
    <!-- 오류 표시 End -->
    <div class="mb-3">
      <textarea
        {%
        if
        not
        g.user
        %}disabled{%
        endif
        %}
        name="content"
        id="content"
        class="form-control"
        rows="10"
      ></textarea>
    </div>
    <input type="submit" value="댓글 등록" class="btn btn-primary" />
  </form>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function (element) {
    element.addEventListener("click", function () {
      if (confirm("정말로 삭제하시겠습니까?")) {
        location.href = this.dataset.uri;
      }
    });
  });
  const like_elements = document.getElementsByClassName("like");
  Array.from(like_elements).forEach(function (element) {
    element.addEventListener("click", function () {
      if (confirm("좋아요 하시겠습니까?")) {
        location.href = this.dataset.uri;
      }
    });
  });
</script>
{% endblock %}
